/* Satrt Varielple unit  */
:root {
    --main-color: #10cab7;
    --second-color: #24484f;
    --third-color: #f6f6f6;
    --padding: 60px;
}
/* End Varielple unit  */
/* Start Global Rules  */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;

}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    /* Small Screen  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
    /* Miduim Screen  */
@media (min-width: 992px) {
        .container {
        width: 970px;
    }
}
    /* Lager Screen  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* End Global rules */
/* Start Header  */
.header {
    padding: 15px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container img {
    width: 40px;
}
.header .container .links {
    position: relative;
}
.header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .container .links .icon span {
    background-color: var(--second-color);
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    transition: .5s;
}
.header .container .links .icon span:nth-child(2) {
    width: 60%;
}
.header .container .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .container .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--third-color);
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    min-width: 200px;
    display: none;
}
.header .container .links:hover ul {
    display: block;
}
.header .container .links ul:before {
    content: "";
    position: absolute;
    border: solid 10px;
    border-color: transparent transparent var(--third-color) transparent;
    top: -20px;
    right: 5px;
}
.header ul li {
    padding: 15px;
    transition: .5s;
}
.header ul li:hover {
    padding-left: 25px;
}
.header ul li:not(:last-child) {
    border-bottom: 1px solid rgb(218, 217, 217);
}
.header ul li a {
    color: var(--second-color);
    text-decoration: none;
}
/* End Header  */
/* Start Landing  */
.landing {
    background-image: url(../Image/istockphoto-1129816005-612x612.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    z-index: -1;
}
.landing .text {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.landing .text h1 {
    color: var(--main-color);
    font-size: 50px;
    margin: 0 0 15px 0;
}
.landing .text p {
    font-size: 18px;
    line-height: 1.7;
}
/* End Landing  */
/* Start Features  */
.features {
    background-color: var(--third-color);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
}
.features .container .col {
    text-align: center;
    padding: 20px;
}
.features .container .col i {
    color: var(--main-color);
    padding-bottom: 10px;
}
.features .container .col h1 {
    font-weight: 800;
}
.features .container .col p {
    color: #777;
    padding-top : 10px;
    line-height: 1.7;
    font-weight: 400;
    font-size: 17px;
}

/* End Features  */
/* Start Service  */
.services {
    padding-top: var(--padding);
    padding-bottom: 100px;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    padding-top: 100px;
}
.services .container .part .part1 {
    display: flex;
    padding: 10px;
}
@media (max-width:767px) {
    .services .container .part .part1 {
        flex-direction: column;
        text-align: center;
    }
}
.services .container .part .part1 .text {
    flex: 1;
}
.services .container .part .part1 .text h3{
    margin: 0 0 20px 0;
}
.services .container .part .part1 .text p{
    color: #777;
    line-height: 1.6;
    font-weight: 300;
    font-size: 16px;
}

.services .container .part .part1 i {
    flex-basis: 50px;
    color: var(--main-color);
}
.services .container .part-photo .imag {
    position: relative;
}
.services .container .part-photo .imag::before {
    content: "";    
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--second-color);
    top: -50px;
    z-index: -1;
    right: 0px;
}
.services .container .part-photo  {  
    text-align: center;
}
.services .container .part-photo img {
    width: 260px;
}
@media (max-width:1199px) {
    .services .container .part-photo .imag {
        display: none;
    }
}
/* End Service  */
/* Start Protfolio  */
.protfolio {
    background-color: var(--third-color);
    padding: var(--padding) 0px;
}
.protfolio .container .col {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 60px;
}
.protfolio .container .col .col1  {
    background-color: white;
}
.protfolio .container .col .col1 .text  {
    padding: 20px;
}
.protfolio .container .col .col1 .text h3 {
    margin: 0 0 10px 0;
}
.protfolio .container .col .col1 .text p {
    color: #777;
    line-height: 1.6;
    font-weight: 300;
    font-size: 16px;
}
.protfolio .container .col .col1 img {
    width: 100%;
}
/* End Protfolio  */
/* Start About  */
.about {
    padding-top: var(--padding);
    padding-bottom: calc(var(--padding) + 60px);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* End About  */
/* Start Contact */
.contact {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-color: var(--third-color);
}
.contact .info {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--second-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
  /* End Contact */
  /* Start Footer */
.footer {
    background-color: var(--second-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
  /* End Footer */